@{
    ViewData["Title"] = "Movie session";
}
<form asp-action="ChangeMovieSession">
<div class="form-group">
    <select name="Movie">
        @foreach (var movie in (ViewData["Movies"] as List<CinemaSpace.Models.Movie>))
        {
                if (movie.MovieName == "Empty") continue;
                <option value="@movie.MovieName">@movie.MovieName</option>
        }
    </select>
</div>
<div class="form-group">
    <input type="submit" value="Create ticket" class="btn btn-primary" />
</div>
</form>