@{
    ViewData["Title"] = "Home Page";
}
<p>
    <a asp-action="CreateTicket">CreateTicket</a>
    <a asp-action="ChangeMovieSession">ChangeMovieSession</a>
    <a asp-action="AddMovie">AddMovie</a>
</p>

<h2>Current session</h2>
<h4>Movie:</h4><b>@Model.currentMovie</b>
<h4>Seats count:</h4><b>@Model.Seats</b>
<h4>Free seats count:</h4><b>@Model.freeSeats</b>