@model CinemaSpace.Models.Hall
<form asp-action="SelectHall">
@if(ViewData.ContainsKey("Halls") && (ViewData["Halls"] as List<CinemaSpace.Models.Hall>).Count > 0)
{
    <h3>Choose hall: </h3>
    <select id="hallsDrop" asp-for="HallNumber" onchange="this.form.submit();">
        @foreach (var hall in (ViewData["Halls"] as List<CinemaSpace.Models.Hall>))
        {
            <option value="@hall.HallNumber">@hall.HallNumber</option>
        }
    </select> 
    <p/>
}
</form>